__pycache__
*.py[cod]
*$py.class
.cache
.env
.venv
env/
venv/
.vscode/
*~
.project
.pydevproject
.settings/
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
ehthumbs.db
Desktop.ini
.ipynb_checkpoints
*.locals
*.log
.DS_store
dist
venv
*.pyc
build
